{% extends 'base.html.twig' %}

{% block title %}Upload de Arquivos com Symfony 4{% endblock %}

{% block body %}
    {% include 'message.html.twig' %}
    <div class="container">
        <form action="{{ path('upload') }}" class="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Enviar Foto</label>
                <input type="file" name="file[]" multiple class="form-control">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-success">Enviar Arquivos</button>
            </div>
        </form>
    </div>
{% endblock %}
